<div class="container-fluid">
  <div class="row col-md-12">
    <div class="col-md-7 image_border">
     <%= image_tag 'kalibre_academy.jpg', class: 'confirmation_image'%>
    </div>

    <div class="col-md-5">
      <p class="para_text">Thanks for joining! Please Confirm Your Email</p>
    </div>
  </div>
</div>